#### 7.1: Operations on sets

with other sets

In [2]:
# Intersection
{1, 2, 3, 4, 5}.intersection({3, 4, 5, 6}) # {3, 4, 5}
{1, 2, 3, 4, 5} & {3, 4, 5, 6} # {3, 4, 5}

{3, 4, 5}

In [3]:
# Union
{1, 2, 3, 4, 5}.union({3, 4, 5, 6}) # {1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5} | {3, 4, 5, 6} # {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [4]:
# Difference
{1, 2, 3, 4}.difference({2, 3, 5}) # {1, 4}
{1, 2, 3, 4} - {2, 3, 5} # {1, 4}

{1, 4}

In [5]:
# Symmetric difference with
{1, 2, 3, 4}.symmetric_difference({2, 3, 5}) # {1, 4, 5}
{1, 2, 3, 4} ^ {2, 3, 5} # {1, 4, 5}

{1, 4, 5}

In [6]:
# Superset check
{1, 2}.issuperset({1, 2, 3}) # False
{1, 2} >= {1, 2, 3} # False

False

In [7]:
# Subset check
{1, 2}.issubset({1, 2, 3}) # True
{1, 2} <= {1, 2, 3} # True

True

In [8]:
# Disjoint check
{1, 2}.isdisjoint({3, 4}) # True
{1, 2}.isdisjoint({1, 4}) # False

False

with single elements

In [9]:
# Existence check
2 in {1,2,3} # True
4 in {1,2,3} # False
4 not in {1,2,3} # True

True

In [13]:
# Add and Remove
s = {1,2,3}
s.add(4) # s == {1,2,3,4}
s
s.discard(3) # s == {1,2,4}
s
s.discard(5) # s == {1,2,4}
s
s.remove(2) # s == {1,4}
s
# s.remove(2) # KeyError!

{1, 4}

Set operations return new sets, but have the corresponding in-place versions:<br>
method in-place operation in-place method <br>

<td> <tr> union      s |= t     update</tr> <br>
<tr> intersection    s &= t     intersection_update</tr> <br>
<tr> difference      s -= t     difference_update </tr><br>
<tr> symmetric_difference    s ^= t       symmetric_difference_update </tr></td><br>

For example:

In [14]:
s = {1, 2}
s.update({3, 4}) # s == {1, 2, 3, 4}
s

{1, 2, 3, 4}